*, *::after, *::before {
  box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

.navbar {
  background-color: #fbb8d2;
}


h3 {
  padding-left: 1rem;
}
#selCountry{
  margin-left: .5rem;
}
#btnRun{
  margin-left: .5rem;
  background-color: #52d241;
  border: 1px solid #52d241;
  font-weight: bold;
}

#btnReset{
  margin-left: .5rem;
  background-color: #52d241;
  border: 1px solid #52d241;
  font-weight: bold;
}
  /* Info container section styles*/

.modal-body {

  height: 70vh;

  overflow-y: auto;

  /*background-color: #fbb8d2;*/

}

.modal {
  background-color: #fbb8d2;
}

.modal-header, .modal-body, .modal-footer {
  background-color: #d4fece;
}

/*weather section styles*/
#txtCapitalWeatherCurrent {
  font-weight: bold;
}

#txtCapitalWeatherHi, #txtCapitalWeatherFHi{
  color: red;
}

#txtCapitalWeatherLo, #txtCapitalWeatherFLo{
  color: blue;
}

#txtCapitalWeatherForcast {
  font-weight: bold;
}

