body {
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    margin: auto auto;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

}

.grid {
    
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    background-color: black;
    margin: 0 auto;
}

.grid div {
    
    width: 20px;
    height: 20px;
    
}

#rankingTable {
    margin: 0 auto;
    display: none;
}

#floatingDiv {
  margin: 0 auto;
  display: none;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: lime;
    border-radius: 10px;
}

.pac-dot {
    background-color: yellow;   
    border: 8px solid black;
    box-sizing: border-box;
    border-radius: 100%;
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

.ghost {
    border: 0px;
    border-radius: 10px 10px 0 0;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: darkorange;     
}
.scared-ghost {
    background-color: darkmagenta;
}

